<!-- menu_detail.html -->
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block static %}
    <title>{{ menu.RCP_NM }}</title>
    <link rel="stylesheet" href="{% static 'css/menu_detail.css' %}?after">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% endblock %}

{% block content %}
    <button type="submit" id="like-button" name="empty">&#x2661;</button>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>

    $(document).ready(function () {
    loadLike();

    // 좋아요 버튼 클릭 이벤트
    $("#like-button").click(function () {
        // Ajax 요청
        $.ajax({
            url: "{% url 'api_toggle_like' food_id=food_id %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (data) {
                // 서버에서 받은 응답에 따라 버튼을 업데이트
                if (data.is_liked) {
                    $("#like-button").html("&#x2665;");
                } else {
                    $("#like-button").html("&#x2661;");
                }
            },
            error: function (error) {
                console.log(error);
                alert("에러 발생");
            }
        });
    });
});

function loadLike() {
    // Ajax 요청
    $.ajax({
        url: '{% url 'api_like_status' food_id=food_id %}',
        type: 'GET',
        success: function (data) {
            var isLiked = data.is_liked;
            if (isLiked) {
                $("#like-button").html("&#x2665;");
            } else {
                $("#like-button").html("&#x2661;");
            }
        },
        error: function () {
            alert('Error');
        }
    });
}

    </script>

    <div class="container">
        <div class="upper">
            <div class="img-container">
                <img src="{{ menu.ATT_FILE_NO_MAIN }}">
            </div>
            <div class="upper_right">
                <div class="hashtags">
                        {% if menu.LOW_NA != 0 %}
                            <span>#저염식</span>
                        {% endif %}
                        {% if menu.HIGH_PRO != 0 %}
                            <span>#고단백식</span>
                        {% endif %}
                        {% if menu.VEGAN != 0 %}
                            <span>#비건식</span>
                        {% endif %}
                        {% if menu.DIETS != 0 %}
                            <span>#식단조절식</span>
                        {% endif %}
                </div>
                <div class="main_menu">{{ menu.RCP_NM }}</div>
                <div class="ingredient">
                    <div class="main_ingre">
                         |재료
                    </div>
                    <div class="detail_ingre">
                         {{ menu.RCP_PARTS_DTLS }}
                    </div>
                </div>
                <div id="all-details" class="details">
                    <div class="nourish">
                         |영양성분
                    </div>
                    <p><b>탄수화물</b>&nbsp;&nbsp;{{ menu.INFO_CAR_x }} g</p>
                    <p><b>에너지</b>&nbsp;&nbsp;&nbsp;{{ menu.INFO_ENG_x }} g</p>
                    <p><b>지방량</b>&nbsp;&nbsp;&nbsp;{{ menu.INFO_FAT_x }} g</p>
                    <p><b>나트륨</b>&nbsp;&nbsp;&nbsp;{{ menu.INFO_NA }} g</p>
                </div>
            </div>
        </div>
        <hr class="hr1">
        <div class="step_add">
            <p class="recipe_step">|조리 과정</p>
            <div class="additional-content-container">
                {% if menu.RCP_NA_TIP != "0" %}
                <div class="additional-content">
                    <p><mark>{{ menu.RCP_NA_TIP }}</mark></p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="left">
                <div class="col-md-3 recipe-item">
                    <img src="{{ menu.MANUAL_IMG01 }}" alt="Recipe Image">
                    <p>{{ menu.MANUAL01 }}</p>
                </div>
                <div class="col-md-3 recipe-item">
                    <img src="{{ menu.MANUAL_IMG03 }}" alt="Recipe Image">
                    <p>{{ menu.MANUAL03 }}</p>
                </div>
                {% if menu.MANUAL_IMG05 != "0" %}
                <div class="col-md-3 recipe-item">
                    <img src="{{ menu.MANUAL_IMG05 }}" alt="Recipe Image">
                    <p>{{ menu.MANUAL05 }}</p>
                </div>
                {% endif %}
                {% if menu.MANUAL_IMG07 != "0" %}
                <div class="col-md-3 recipe-item">
                    <img src="{{ menu.MANUAL_IMG07 }}" alt="Recipe Image">
                    <p>{{ menu.MANUAL07 }}</p>
                </div>
                {% endif %}
                {% if menu.MANUAL_IMG09 != "0" %}
                <div class="col-md-3 recipe-item">
                    <img src="{{ menu.MANUAL_IMG09 }}" alt="Recipe Image">
                    <p>{{ menu.MANUAL09 }}</p>
                </div>
                {% endif %}
                {% if menu.MANUAL_IMG11 != "0.0" %}
                <div class="col-md-3 recipe-item">
                    <img src="{{ menu.MANUAL_IMG11 }}" alt="Recipe Image">
                    <p>{{ menu.MANUAL11 }}</p>
                </div>
                {% endif %}
            </div>

            <div class="right">
                <div class="col-md-3 recipe-item">
                    <img src="{{ menu.MANUAL_IMG02 }}" alt="Recipe Image">
                    <p>{{ menu.MANUAL02 }}</p>
                </div>
                {% if menu.MANUAL_IMG04 != "0" %}
                    <div class="col-md-3 recipe-item">
                        <img src="{{ menu.MANUAL_IMG04 }}" alt="Recipe Image">
                        <p>{{ menu.MANUAL04 }}</p>
                    </div>
                {% endif %}
                {% if menu.MANUAL_IMG06 != "0" %}
                    <div class="col-md-3 recipe-item">
                        <img src="{{ menu.MANUAL_IMG06 }}" alt="Recipe Image">
                        <p>{{ menu.MANUAL06 }}</p>
                    </div>
                {% endif %}
                {% if menu.MANUAL_IMG08 != "0" %}
                    <div class="col-md-3 recipe-item">
                        <img src="{{ menu.MANUAL_IMG08 }}" alt="Recipe Image">
                        <p>{{ menu.MANUAL08 }}</p>
                    </div>
                {% endif %}{% if menu.MANUAL_IMG10 != "0" %}
                    <div class="col-md-3 recipe-item">
                        <img src="{{ menu.MANUAL_IMG10 }}" alt="Recipe Image">
                        <p>{{ menu.MANUAL10 }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr class="hr2">
        <div class="recommend">
            <div class="re_text">이 메뉴는 어떠세요?</div>
            <div class="re_text2">관련도 순으로 메뉴를 추천해 드려요</div>
            <div class="re_list">
                <div class="left">
                    <Button class="re_btn_left" onclick="moveSlider('left')">&#9664;</Button>
                </div>
                <div class="outer">
                    <div class="inner" id="inner_id">
                        {% for item in list %}
                        <div class="re_info">
                            <a href="http://127.0.0.1:8000/recipes/menu/{{ item.index }}/{{ category }}">
                            <div class="re_img">
                                <img src="{{ item.img_food}}">
                            </div>
                            </a>
                            <div class="re_name">
                                <p>{{ item.recipe_name }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="right">
                    <Button class="re_btn_right" onclick="moveSlider('right')">&#9654;</Button>
                </div>
            </div>
            <script>
                const outer = $('.outer');
                const inner = $('.inner')
                const re_info = $('.re_info')
                let currentIndex = 0;

                function moveSlider(direction) {
                    const itemWidth = 950;
                    const maxIndex = Math.floor(re_info.length) - 1;

                    if (direction === 'left') {
                        currentIndex = currentIndex > 0 ? currentIndex - 1 : 0;
                    } else if (direction === 'right') {
                        currentIndex = currentIndex < maxIndex ? currentIndex + 1 : maxIndex;
                    }

                    const newPosition = itemWidth * currentIndex;
                    inner.animate({ scrollLeft: newPosition }, 500);
                }
            </script>
        </div>
        <div class="comment_name">
            |댓글
        </div>
        <div class="comment">
            <div class="user_name">작성자명</div>
                <div class="c_content">
                    <form class="c_form"><textarea class="c_text" rows="2" placeholder=" 댓글 작성"></textarea></form>
                    <input type="submit" value="입력" class="c_btn">
                </div>
        </div>
    </div>
{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function toggleDetails(detailsId) {
            var details = document.getElementById(detailsId);
            if (details.style.display === "none") {
                details.style.display = "block";
            } else {
                details.style.display = "none";
            }
        }
        function toggleAllDetails() {
            var allDetails = document.getElementById('all-details');
            if (allDetails.style.display === "none") {
                allDetails.style.display = "block";
            } else {
                allDetails.style.display = "none";
            }
        }


    </script>