
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?after">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="search">
            <img id='searchbar' src="{% static 'image/searchbar.png' %}" onclick="dis()">
            <div id='checkbox'>
                <div class="name">
                    <li class="v">비건</li>
                    <li class="f">저지방</li>
                    <li class="s">저염식</li>
                    <li class="p">고단백</li>
                </div>
                <div class="check">
                    <input type="checkbox" id="vegun" name="vegun" onclick="
                    if(this.checked==true){
                        document.querySelector('.name .v').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .v').style.color='white';
                        document.querySelector('.name .v').style.backgroundColor='rgb(132,206,145)';}
                    else{
                        document.querySelector('.name .v').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .v').style.color='rgb(140,140,140)'
                        document.querySelector('.name .v').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="vegun"></label>
                    <input type="checkbox" id="l_fat" name="l_fat" onclick="
                    if(this.checked==true){
                        document.querySelector('.name .f').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .f').style.color='white';
                        document.querySelector('.name .f').style.backgroundColor='rgb(132,206,145)';}
                    else{
                        document.querySelector('.name .f').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .f').style.color='rgb(140,140,140)';
                        document.querySelector('.name .f').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="l_fat"></label>
                    <input type="checkbox" id="l_salt" name="l_salt" onclick="
                    if(this.checked==true){
                        document.querySelector('.name .s').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .s').style.color='white';
                        document.querySelector('.name .s').style.backgroundColor='rgb(132,206,145)';}
                    else{
                        document.querySelector('.name .s').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .s').style.color='rgb(140,140,140)';
                        document.querySelector('.name .s').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="l_salt"></label>
                    <input type="checkbox" id="h_protein" name="h_protein" onclick="
                    if(this.checked==true){
                        document.querySelector('.name .p').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .p').style.color='white';
                        document.querySelector('.name .p').style.backgroundColor='rgb(132,206,145)';}
                    else{
                        document.querySelector('.name .p').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .p').style.color='rgb(140,140,140)';
                        document.querySelector('.name .p').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="h_protein"></label>
                </div>
            </div>
            <script  type="text/javascript">
                function dis(){
                      if($('#checkbox').css('display') == 'none'){
                      $('#checkbox').show();
                    }else{
                      $('#checkbox').hide();
                    }
                    }
            </script>
        </div>

        <div class="slider" style="margin-top: 50px; margin-bottom: 50px;">
            <input type="radio" name="slide" id="slide1" checked>
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">
            <ul id="imgholder" class="imgs">
                <li><img src="{% static 'image/testimg1.jpg' %}"></li>
                <li><img src="{% static 'image/testimg2.jpeg' %}"></li>
                <li><img src="{% static 'image/testimg3.jpg' %}"></li>
                <li><img src="{% static 'image/testimg4.jpg' %}"></li>
            </ul>
            <div class="bullets">
                <label for="slide1">&nbsp;</label>
                <label for="slide2">&nbsp;</label>
                <label for="slide3">&nbsp;</label>
                <label for="slide4">&nbsp;</label>
            </div>
        </div>


        <div class="member">
            <div>
                BOB.D
                <hr>
                <a href="https://github.com/swupark"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                이민경
                <hr>
                <a href="https://github.com/mrri-18"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                김나희
                <hr>
                <a href="https://github.com/umsienrt"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                박규리
                <hr>
                <a href="https://github.com/Gyuree01"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                현소정
                <hr>
                <a href="https://github.com/SJ-Hyun"><img src="{% static 'image/github.png' %}"></a>
            </div>
        </div>
    </div>

{% endblock %}