
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?after">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="search">
            {% if not user.is_authenticated %}
            <img id='searchbar2' src="{% static 'image/searchbar.png' %}">
            {% else %}
            <img id='searchbar' src="{% static 'image/searchbar.png' %}" onclick="dis()">
            {% endif %}
            <div id='checkbox'>
                <p>원하는 카테고리를 모두 선택하세요</p>
                <div class="name">
                    <li class="v">비건식</li>
                    <li class="f">식단 조절</li>
                    <li class="s">저염식</li>
                    <li class="p">고단백식</li>
                </div>
                <div class="check">
                    <input type="checkbox" id="vegan" name="chk_list"onclick="
                    if(this.checked==true){
                     displayImage('VEGAN');
                     $('.name .v').css({
            'borderColor': 'rgb(93,186,109)',
            'color': 'white',
            'backgroundColor': 'rgb(132,206,145)'
        });
        $('.btn_ok').css({
            'borderColor': 'rgb(232,170,61)',
            'color': 'white',
            'backgroundColor': 'rgb(232,170,61)'
        });
        $('#vegan').prop('checked', true); // jQuery를 사용해 체크
        this.disabled = true;
    } else {
        $('.name .v').css({
            'borderColor': 'rgb(234,234,234)',
            'color': 'rgb(140,140,140)',
            'backgroundColor': 'rgb(246,246,246)'
        });
    }
    enableBtnOk();
">
                    {% if user_profile.issue_vg == 1 %}
    <script>
        $(document).ready(function() {
            $('#vegan').prop('checked', true);
            displayImage('VEGAN');
            $('.name .v').css({
                'borderColor': 'rgb(93,186,109)',
                'color': 'white',
                'backgroundColor': 'rgb(132,206,145)'
            });
            $('.btn_ok').css({
                'borderColor': 'rgb(232,170,61)',
                'color': 'white',
                'backgroundColor': 'rgb(232,170,61)'
            });
            $('#vegan').prop('disabled', true);
            enableBtnOk();
        });
    </script>
{% endif %}
                    <label for="vegan"></label>
                    <input type="checkbox" id="l_fat" name="chk_list" onclick="
                    if(this.checked==true){
                        displayImage('DIETS');
                        $('.name .f').css({
                            'borderColor': 'rgb(93,186,109)',
                            'color': 'white',
                            'backgroundColor': 'rgb(132,206,145)'
                        });
                        $('.btn_ok').css({
                            'borderColor': 'rgb(232,170,61)',
                            'color': 'white',
                            'backgroundColor': 'rgb(232,170,61)'
                        });
                        $('#vegan').prop('checked', true); // jQuery를 사용해 체크
                        this.disabled = true;
                    }
                    else{
                        $('.name .f').css({
                            'borderColor': 'rgb(234,234,234)',
                            'color': 'rgb(140,140,140)',
                            'backgroundColor': 'rgb(246,246,246)'
                        });
                     }
                     enableBtnOk();">
                    {% if user_profile.issue_di == 1 %}
    <script>
        $(document).ready(function() {
            $('#l_fat').prop('checked', true);
            displayImage('DIETS');
            $('.name .f').css({
                'borderColor': 'rgb(93,186,109)',
                'color': 'white',
                'backgroundColor': 'rgb(132,206,145)'
            });
            $('.btn_ok').css({
                'borderColor': 'rgb(232,170,61)',
                'color': 'white',
                'backgroundColor': 'rgb(232,170,61)'
            });
            $('#l_fat').prop('disabled', true);
            enableBtnOk();
        });
    </script>
{% endif %}
                    <label for="l_fat"></label>
                    <input type="checkbox" id="l_salt" name="chk_list" onclick="
                    if(this.checked==true){
                        displayImage('LOW_NA');
                        $('.name .s').css({
                            'borderColor': 'rgb(93,186,109)',
                            'color': 'white',
                            'backgroundColor': 'rgb(132,206,145)'
                        });
                        $('.btn_ok').css({
                            'borderColor': 'rgb(232,170,61)',
                            'color': 'white',
                            'backgroundColor': 'rgb(232,170,61)'
                        });
                        $('#vegan').prop('checked', true); // jQuery를 사용해 체크
                        this.disabled = true;
                    }
                    else{
                        $('.name .s').css({
                            'borderColor': 'rgb(234,234,234)',
                            'color': 'rgb(140,140,140)',
                            'backgroundColor': 'rgb(246,246,246)'
                        });
                     }
                     enableBtnOk();">
                    {% if user_profile.issue_ln == 1 %}
    <script>
        $(document).ready(function() {
            $('#l_salt').prop('checked', true);
            displayImage('LOW_NA');
            $('.name .s').css({
                'borderColor': 'rgb(93,186,109)',
                'color': 'white',
                'backgroundColor': 'rgb(132,206,145)'
            });
            $('.btn_ok').css({
                'borderColor': 'rgb(232,170,61)',
                'color': 'white',
                'backgroundColor': 'rgb(232,170,61)'
            });
            $('#l_salt').prop('disabled', true);
            enableBtnOk();
        });
    </script>
{% endif %}
                    <label for="l_salt"></label>
                    <input type="checkbox" id="h_protein" name="chk_list" onclick="
                    if(this.checked==true){
                        this.checked = true;
                        displayImage('HIGH_PRO');
                        $('.name .p').css({
                            'borderColor': 'rgb(93,186,109)',
                            'color': 'white',
                            'backgroundColor': 'rgb(132,206,145)'
                        });
                        $('.btn_ok').css({
                            'borderColor': 'rgb(232,170,61)',
                            'color': 'white',
                            'backgroundColor': 'rgb(232,170,61)'
                        });
                        $('#vegan').prop('checked', true); // jQuery를 사용해 체크
                        this.disabled = true;
                    }
                    else{
                        $('.name .p').css({
                            'borderColor': 'rgb(234,234,234)',
                            'color': 'rgb(140,140,140)',
                            'backgroundColor': 'rgb(246,246,246)'
                        });
                     }
                     enableBtnOk();">
                    {% if user_profile.issue_hp == 1 %}
    <script>
        $(document).ready(function() {*
            $('#vegan').prop('checked', true);
            displayImage('HIGH_PRO');
            $('.name .p').css({
                'borderColor': 'rgb(93,186,109)',
                'color': 'white',
                'backgroundColor': 'rgb(132,206,145)'
            });
            $('.btn_ok').css({
                'borderColor': 'rgb(232,170,61)',
                'color': 'white',
                'backgroundColor': 'rgb(232,170,61)'
            });
            $('#h_protein').prop('disabled', true);
            enableBtnOk();
        });
    </script>
{% endif %}
                    <label for="h_protein"></label>
                </div>
                <div class="buttons">
                  <button class="btn_ok" disabled onclick="
                    $('.check input').prop('disabled', true);
                    pageContainer.style.display = 'block';
                    imageContainer.style.display = 'block';">적용</button>
                  <button class="btn_reset" onclick="
                    $('.btn_ok').prop('disabled',true);
                    $('.btn_ok').css({
                      'borderColor': 'rgb(234,234,234)',
                      'color': 'rgb(140,140,140)',
                      'backgroundColor': 'rgb(246,246,246)'
                    });
                    $('#pageContainer').empty();
                    $('#imageContainer').empty();
                    pageContainer.style.display = 'none';
                    imageContainer.style.display = 'none';
                    $('.check input').prop('disabled', false);
                    $('.check input').prop('checked', false);
                    $('.name .v').css({
                        'borderColor': 'rgb(234,234,234)',
                        'color': 'rgb(140,140,140)',
                        'backgroundColor': 'rgb(246,246,246)'
                    });
                    $('.name .f').css({
                        'borderColor': 'rgb(234,234,234)',
                        'color': 'rgb(140,140,140)',
                        'backgroundColor': 'rgb(246,246,246)'
                    });
                    $('.name .s').css({
                        'borderColor': 'rgb(234,234,234)',
                        'color': 'rgb(140,140,140)',
                        'backgroundColor': 'rgb(246,246,246)'
                    });
                    $('.name .p').css({
                        'borderColor': 'rgb(234,234,234)',
                        'color': 'rgb(140,140,140)',
                        'backgroundColor': 'rgb(246,246,246)'
                    });

                  ">초기화</button>
                </div>
                <!-- 이미지가 나타나는 부분 -->
                <div id="imageContainer" style="display: none"></div>
                <div id="pageContainer" class="pagination" style="display: none"></div>
            </div>
            </div>
            <script  type="text/javascript">
                function dis(){
                      if($('#checkbox').css('display') == 'none'){
                      $('#checkbox').show();
                    }else{
                      $('#checkbox').hide();
                    }
                 }


                 var imageLists = {
                    'VEGAN': [{% for item in vegan_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}", "{{ item.RCP_NM }}",{% endfor %}],
                    'HIGH_PRO': [{% for item in hp_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}","{{ item.RCP_NM }}", {% endfor %}],
                    'LOW_NA': [{% for item in ln_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}","{{ item.RCP_NM }}", {% endfor %}],
                    'DIETS': [{% for item in dt_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}","{{ item.RCP_NM }}", {% endfor %}],
                };

                function shuffleArray(array) {
                    for (var i = array.length - 1; i > 0; i--) {
                        var j = Math.floor(Math.random() * (i + 1));
                        var temp = array[i];
                        array[i] = array[j];
                        array[j] = temp;
                    }
                    return array;
                }

                function displayImage(category) {
                    var imagesPerPage = 3;
                    var categoryImages = imageLists[category];
                    var imageSet = [];

                    for(var i=0; i<categoryImages.length; i+=3){
                        var imageId = categoryImages[i];
                        var imageUrl = categoryImages[i+1];
                        var imageNm = categoryImages[i+2];
                        imageSet.push({imageId: imageId, imageUrl: imageUrl, imageNm: imageNm});
                    }


                    var page = $('<div class="imagePage">');

                    for(var i=0; i<6; i++){
                        var imageId = imageSet[i].imageId;
                        var imageUrl = imageSet[i].imageUrl;
                        var imageNm = imageSet[i].imageNm;
                        var imageElement = `
                             <div class="imageElement">
                               <a href="http://127.0.0.1:8000/account/list/${imageId}/${category}">
                               <img src="${imageUrl}" alt="Image">
                               <p>${imageNm}</p>
                               </a>
                             </div>`;
                        page.append(imageElement);
                    }
                    for (i = 0; i < page.length; i += 6) $('#imageContainer').append(page);

                    // 페이지네이션 및 첫 번째 페이지 표시
                    createPagination($('.check input:checked').length);
                    showPage(1);
                }

                        function createPagination(request) {
                            var paginationContainer = $('#pageContainer');
                            paginationContainer.empty();
                            for (var i=1;i<=request;i++){
                                 var pageLink = $('<a href="#" onclick="showPage(' + i + ');">' +i+ '</a>');
                                 paginationContainer.append(pageLink);
                            }
                        }

                        function showPage(pageNumber) {
                            var pages = $('.imagePage');

                            pages.hide();
                            $('#imageContainer .imagePage:nth-child(' + pageNumber + ')').show();

                            // 페이지네이션 활성화 스타일 설정
                            $('#pageContainer a').removeClass('active');
                            $('#pageContainer a:nth-child(' + pageNumber + ')').addClass('active');
                        }
                        function enableBtnOk() {
                            var atLeastOneChecked = $('.check input:checked').length > 0;
                            $('.btn_ok').prop('disabled', !atLeastOneChecked);
                        }




            </script>
        </div>

        <div class="slider" style="margin-top: 50px; margin-bottom: 50px;">
            <input type="radio" name="slide" id="slide1" checked>
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">
            <ul id="imgholder" class="imgs">
                <li><img src="{% static 'image/testimg1.jpg' %}"></li>
                <li><img src="{% static 'image/testimg2.jpeg' %}"></li>
                <li><img src="{% static 'image/testimg3.jpg' %}"></li>
                <li><img src="{% static 'image/testimg4.jpg' %}"></li>
            </ul>
            <div class="bullets">
                <label for="slide1">&nbsp;</label>
                <label for="slide2">&nbsp;</label>
                <label for="slide3">&nbsp;</label>
                <label for="slide4">&nbsp;</label>
            </div>
        </div>


        <div class="member">
            <div>
                BOB.D
                <hr>
                <a href="https://github.com/swupark"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                이민경
                <hr>
                <a href="https://github.com/mrri-18"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                김나희
                <hr>
                <a href="https://github.com/umsienrt"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                박규리
                <hr>
                <a href="https://github.com/Gyuree01"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                현소정
                <hr>
                <a href="https://github.com/SJ-Hyun"><img src="{% static 'image/github.png' %}"></a>
            </div>
        </div>
    </div>

{% endblock %}