{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="search">
            {% if user.is_authenticated %}
            <img id='searchbar' src="{% static 'image/searchbar.png' %}" onclick="dis()">
            {% else %}
            <img src="{% static 'image/searchbar.png' %}">
             {% endif %}
            <div id='checkbox'>
                <form method="get" >
                 <label for="dislike_ingredient">싫어하는 재료:</label>
                 <input type="search" name="dislike_ingredient" id="dislike_ingredient">
                 <button type="submit">적용</button>
                 </form>
                <div class="name">
                    <li class="v">비건식</li>
                    <li class="f">식단 조절</li>
                    <li class="s">저염식</li>
                    <li class="p">고단백 식단</li>
                </div>
                <div class="check">
                    <input type="checkbox" id="vegun" name="vegun" onclick="
                        displayImage('vegan_img');
                    if(this.checked==true){
                        document.querySelector('.name .v').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .v').style.color='white';
                        document.querySelector('.name .v').style.backgroundColor='rgb(132,206,145)';}
                    else{
                        deleteTimage()
                        document.querySelector('.name .v').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .v').style.color='rgb(140,140,140)'
                        document.querySelector('.name .v').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="vegun"></label>
                    <input type="checkbox" id="l_fat" name="l_fat" onclick="
                    displayImage('dt_img');
                    if(this.checked==true){
                        document.querySelector('.name .f').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .f').style.color='white';
                        document.querySelector('.name .f').style.backgroundColor='rgb(132,206,145)';}
                    else{
                        deleteTimage()
                        document.querySelector('.name .f').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .f').style.color='rgb(140,140,140)';
                        document.querySelector('.name .f').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="l_fat"></label>
                    <input type="checkbox" id="l_salt" name="l_salt" onclick="
                    displayImage('ln_img');
                    if(this.checked==true){
                        document.querySelector('.name .s').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .s').style.color='white';
                        document.querySelector('.name .s').style.backgroundColor='rgb(132,206,145)';}
                    else{
                        deleteTimage()
                        document.querySelector('.name .s').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .s').style.color='rgb(140,140,140)';
                        document.querySelector('.name .s').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="l_salt"></label>
                    <input type="checkbox" id="h_protein" name="h_protein" onclick="
                    displayImage('hp_img');
                    if(this.checked==true){
                        document.querySelector('.name .p').style.borderColor='rgb(93,186,109)';
                        document.querySelector('.name .p').style.color='white';
                        document.querySelector('.name .p').style.backgroundColor='rgb(132,206,145)';}
                    else{
                       deleteTimage()
                        document.querySelector('.name .p').style.borderColor='rgb(234,234,234)';
                        document.querySelector('.name .p').style.color='rgb(140,140,140)';
                        document.querySelector('.name .p').style.backgroundColor='rgb(246,246,246)';}">
                    <label for="h_protein"></label>
                </div>
                <!-- 이미지가 나타나는 부분 -->
                <div id="pageContainer" class="pagination"></div>
                <div id="imageContainer">
                </div>
            </div>

            <script  type="text/javascript">
                function dis(){
                      if($('#checkbox').css('display') == 'none'){
                      $('#checkbox').show();
                    }else{
                      $('#checkbox').hide();
                    }
                 }

                 var imageLists = {
                    'vegan_img': [{% for item in vegan_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}", "{{ item.RCP_NM }}",{% endfor %}],
                    'hp_img': [{% for item in hp_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}","{{ item.RCP_NM }}", {% endfor %}],
                    'ln_img': [{% for item in ln_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}","{{ item.RCP_NM }}", {% endfor %}],
                    'dt_img': [{% for item in dt_img %}"{{ item.id }}", "{{ item.ATT_FILE_NO_MAIN }}","{{ item.RCP_NM }}", {% endfor %}],
                };
                function displayImage(category) {
                    var imagesPerPage = 3;
                    var categoryImages = imageLists[category];
                    var pageContainer = $('<div class="imagePage">');
                    // 이미지 리스트에서 해당 카테고리에 대한 이미지를 가져오기
                    var categoryImages = imageLists[category];

                    // 이미지를 저장
                   for (var i = 0; i <12; i+=3) {
                       var imageId = categoryImages[i];
                       var imageUrl = categoryImages[i + 1];
                       var imageNm=categoryImages[i+2];
                       var imageElement = `
                       <a href="http://127.0.0.1:8000/account/details/${imageId}/">
                       <img src="${imageUrl}" alt="Image">
                       <p>${imageNm}</p>
                       </a>`;
                       pageContainer.append(imageElement);
                       }
                   for(i=0;i<pageContainer.length;i+=9)$('#imageContainer').append(pageContainer);
                   //var totalPages = Math.ceil($('#imageContainer').length);
                    // 이미지가 표시되는 부분을 보여짐
                    $('#imageContainer').show();
                    createPagination(4)
                    showPage(1);
                    }
                function createPagination(request) {
                var paginationContainer = $('#pageContainer');
                paginationContainer.empty();
                for (var i=1;i<=request;i++){
                     var pageLink = $('<a href="#" onclick="showPage(' + i + ')">' +i+ '</a>');
                     paginationContainer.append(pageLink);

                }
                }

                function showPage(pageNumber) {
                    var pages = $('.imagePage');

                    pages.hide();
                    $('#imageContainer .imagePage:nth-child(' + pageNumber + ')').show();

                    // 페이지네이션 활성화 스타일 설정
                    $('#pageContainer a').removeClass('active');
                    $('#pageContainer a:nth-child(' + pageNumber + ')').addClass('active');
                }


              function deleteTimage(){
                   $('#imageContainer').empty();
                   }
            </script>
        </div>
        </div>

        <div class="slider" style="margin-top: 50px; margin-bottom: 50px;">
            <input type="radio" name="slide" id="slide1" checked>
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">
            <ul id="imgholder" class="imgs">
                <li><img src="{% static 'image/testimg1.jpg' %}"></li>
                <li><img src="{% static 'image/testimg2.jpeg' %}"></li>
                <li><img src="{% static 'image/testimg3.jpg' %}"></li>
                <li><img src="{% static 'image/testimg4.jpg' %}"></li>
            </ul>
            <div class="bullets">
                <label for="slide1">&nbsp;</label>
                <label for="slide2">&nbsp;</label>
                <label for="slide3">&nbsp;</label>
                <label for="slide4">&nbsp;</label>
            </div>
        </div>


        <div class="member">
            <div>
                BOB.D
                <hr>
                <a href="https://github.com/swupark"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                이민경
                <hr>
                <a href="https://github.com/mrri-18"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                김나희
                <hr>
                <a href="https://github.com/umsienrt"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                박규리
                <hr>
                <a href="https://github.com/Gyuree01"><img src="{% static 'image/github.png' %}"></a>
            </div>
            <div>
                현소정
                <hr>
                <a href="https://github.com/SJ-Hyun"><img src="{% static 'image/github.png' %}"></a>
            </div>
        </div>
    </div>

{% endblock %}