{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="form-container" style="color: rgb(34, 116, 28);">
    <div style="text-align: center; padding-bottom: 1rem;">
        <h2 style="font-weight: bold; padding-bottom: 1rem;"> 사용자 정보 입력 </h2>
    </div>

    <form action="{% url 'accountapp:infocreate' %}" method="post">
      {% csrf_token%}
      {% bootstrap_form form %}
      <div style="text-align: center; margin-top: 50px">
          <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="background-color: rgb(0, 104, 56);
     opacity: 0.8; border: none; width:80px">
      </div>
  </form>
</div>
{% endblock %}