{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="form-container" style="color: rgb(34, 116, 28);">
    <div style="text-align: center; padding-bottom: 1rem;">
        <h2 style="font-weight: bold; padding-bottom: 1rem;"> 사용자 정보 수정 </h2>
        <hr>
    </div>
    <form action="{% url 'accountapp:infoupdate' pk=target_userinfo.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nickname">닉네임</label>
            <input type="text" name="nickname" maxlength="40" class="form-control"
                   title="" required id="id_nickname" value="{{ target_userinfo.nickname }}">
        </div>

        <div class="form-group">
            <label for="id_age">나이대</label>
            <select name="age" class="form-control" id="id_age">
                <option value="18" {% if target_userinfo.age == 18 %}selected{% endif %}>청소년(13세 ~ 18세)</option>
                <option value="29" {% if target_userinfo.age == 29 %}selected{% endif %}>청년(19세 ~ 29세)</option>
                <option value="64" {% if target_userinfo.age == 64 %}selected{% endif %}>중장년(30 ~ 64세)</option>
                <option value="65" {% if target_userinfo.age == 65 %}selected{% endif %}>노년(65세 이상 ~)</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_gender">성별</label>
            <select name="gender" class="form-control" title="" id="id_gender">
                <option value="M" {% if target_userinfo.gender == 'M' %}selected{% endif %}>남성</option>
                <option value="F" {% if target_userinfo.gender == 'F' %}selected{% endif %}>여성</option>
            </select>
        </div>

        <p class="mt-5" style="text-align: center; font-size:1.5rem; "> 건강 이슈 </p>

        <div class="form-group">
            <label for="id_issue_vg">비건식</label>
            <select name="issue_vg" class="form-control" title="" id="id_issue_vg">
                <option value="1" {% if target_userinfo.issue_vg %}selected{% endif %}>네</option>
                <option value="0" {% if not target_userinfo.issue_vg %}selected{% endif %}>아니오</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_issue_di">식단 조절</label>
            <select name="issue_di" class="form-control" title="" id="id_issue_di">
                <option value="1" {% if target_userinfo.issue_di %}selected{% endif %}>네</option>
                <option value="0" {% if not target_userinfo.issue_di %}selected{% endif %}>아니오</option>
            </select></div>

        <div class="form-group">
            <label for="id_issue_ln">저염식</label>
            <select name="issue_ln" class="form-control" title="" id="id_issue_ln">
                <option value="1" {% if target_userinfo.issue_ln %}selected{% endif %}>네</option>
                <option value="0" {% if not target_userinfo.issue_ln %}selected{% endif %}>아니오</option>
            </select></div>

        <div class="form-group">
            <label for="id_issue_hp">고단백식</label>
            <select name="issue_hp" class="form-control" title="" id="id_issue_hp">
                <option value="1" {% if target_userinfo.issue_ln %}selected{% endif %}>네</option>
                <option value="0" {% if not target_userinfo.issue_ln %}selected{% endif %}>아니오</option>
            </select></div>

        <!-- 다른 이슈들에 대한 폼 필드들도 유사한 방식으로 작성 -->

        <div style="text-align: center; margin-top: 50px">
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="background-color: rgb(0, 104, 56);
     opacity: 0.8; border: none; width:80px" value="수정하기">
        </div>
    </form>
</div>
{% endblock %}
