{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="form-container px-5 py-5 shadow" style="border-radius: 1.25rem; margin: 0.8rem auto;">
    <div style="text-align: center; padding-bottom: 1rem;">
        <h2 style="font-weight: bold; padding-bottom: 1rem;">비밀번호 찾기</h2>
        <p style="font-size: 0.9rem;"> 사용자 ID와 해당 ID로 가입한 이메일을 작성하면 <br> 해당 이메일로 비밀번호 변경 링크를 전송합니다. </p>
    </div>

    <form method="post" class="post-form" action="{% url 'password_reset' %}">
    <!-- action 속성은 생략 가능 -->
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label class="sr-only" for="username">사용자ID</label>
            <input type="text" class="form-control shadow-sm bg-body" name="username" id="username" placeholder="User ID"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="text" class="form-control shadow-sm" name="email" id="email" placeholder="Email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div style="padding-top: 2rem; display: flex; justify-content: center;">
            <button type="submit"  class="btn btn-primary shadow" id="form-button">이메일 전송</button>
        </div>
    </form>
</div>
{% endblock %}