{% extends 'base.html' %}
{% load bootstrap4 %}

{% block static %}
<!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}

{% block content %}

<div style="text-align: center; max-width: 500px; margin: 4rem auto;">
    <div class="form-container" style="color: rgb(34, 116, 28);">
        <div class="error_message">
                {{error}}
        </div>
        <div style="text-align: center; padding-bottom: 1rem;">
            <h2 style="font-weight: bold; padding-bottom: 1rem;">비밀번호 변경</h2>
        </div>
        <form method="POST" action="{% url 'accountapp:pwupdate' user.pk %}" class="post-form">
            {% csrf_token %}

            <div class="form-group">
                <label class="" for="origin_password">기존 비밀번호</label>
                <div>
                    <input type="password" class="form-control shadow-sm form-input" name="origin_password" id="origin_password"
                            placeholder="기존 비밀번호">
                </div>
            </div>

            <div class="form-group">
                <label class="" for="password1">새로운 비밀번호</label>
                <div>
                    <input type="password" class="form-control shadow-sm form-input" name="password1" id="password1"
                           placeholder="새로운 비밀번호">
                </div>
            </div>

            <div class="form-group">
                <label class="" for="password2">비밀번호 확인</label>
                <div>
                    <input type="password" class="form-control shadow-sm form-input" name="password2" id="password2"
                           placeholder="비밀번호 확인">
                </div>
            </div>

            <div style="padding-top: 1rem; display: flex; justify-content: center;">
                <button type="submit"  class="btn btn-primary shadow" id="form-button">변경하기</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}