hr{
	background-color: rgb(228, 228, 228);
	height: 2px;
	border: 0px;
}

a{
	text-decoration: none;
	color: #000;
}

.h_menu{
    display:flex;
    justify-content: flex-end;
    gap:14px;
}

.h_menu_item {
    display:flex;
    align-items: center;
    gap: 5px;
}

.h_menu_item a{
    font-family: 'Noto Sans KR', sans-serif;
}

.h_logo{
    display: flex;
    justify-content: center;
}

.h_logo a img{
    width: 200px;
}