body{
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.wrapper {
    max-width: 1500px;
    max-height: 1200px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
    margin-bottom: 50px;
}

#btn-search {
    width: 28px;
    height: 26px;
    border: 0px;
    background-color: #FFF;
    margin-left: 7px;
}

#btn-search img{
    width: 28px;
    height: 26px;
}

.searchbar {
    width: 770px;
    height: 70px;
    padding-top: 20px;
}

.search>img{
    opacity: 1;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.search>img:hover{
    opacity: 0.6;
}

#checkbox{
    width: 770px;
    height: 750px;
    margin: 0 auto;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
}

#checkbox p:first-child{
    font-size: 15px;
    color: rgb(166,166,166);
}

.name li{
    display: inline-block;
    vertical-align: center;
    border-radius: 20px;
    border: 2px solid rgb(234,234,234);
    width: 65px;
    height: 25px;
    margin-right: 30px;
    margin-top: 0px;
    padding: 8px;
    z-index: 100;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
    font-size: 15.5px;
    background-color: rgb(246,246,246);
    color: rgb(140,140,140);
}

.check input{
    position: relative;
    top: -47px;
    width: 82.6px;
    height: 42.6px;
    z-index: 1000;
    opacity: 0;
}

.check{
    height: 35px;
}

.check #vegun{
    left: -49px;
    right: 49px;
}
.check #l_fat{
    left: -28px;
    right: 28px;
}
.check #l_salt{
    left: -3px;
    right: 3px;
}
.check #h_protein{
    left: 20px;
}

.buttons{
    margin-bottom: 50px;
}

.btn_ok{
     height: 30px;
     width: 100px;
     border: 1px solid rgb(234,234,234);
     border-radius: 5px;
     background-color: rgb(246,246,246,0.9);
     color: rgb(140,140,140);
     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
     font-size: 13.5px;
     font-weight:  bold;
}
.btn_reset{
     height: 30px;
     width: 60px;
     border: none;
     border-radius: 5px;
     background-color: rgb(249,226,192);
     color: rgb(244,153,20);
     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
     font-size: 13.5px;
     font-weight: bold;
}

.loader{
   position: fixed;
   width: 1500px;
   height: 1200px;
   display: block;
   opacity: 0.5;
   background-color: black;
   z-index: 10000;
}
.loader img{
   width: 500px;
   height: 500px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform:translate(-50%, -50%);
}

.imagePage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.imageElement{
    width: 195px;
    height: 220px;
    margin-bottom: 40px;
}
.imageElement a{
    display: block;
    text-align: center;
}
.imageElement img {
    width: 170px;
    height: 170px;
    margin-bottom: 3px;
    border-radius: 3px;
}
.imageElement img:hover{
    transition: 0.2s;
	transform: scale(1.1);
}
.imageElement p{
    margin-top: 5px;
    font-size: 14px;
}

#pageContainer a{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 50%;
    border-color: none;
    background-color: rgb(249,226,192,0.7);
}
#pageContainer a:hover{
    opacity: 0.6;
}

.slider{
    width: 800px;
    height: 480px;
    position: relative;
    margin: 0 auto;
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
}
ul.imgs li img{
    width: 800px;
    height: 480px;
    border-radius: 30px;
    border: 5px solid rgba(0,0,0,0.3);
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}

/* 1 */
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(2){
    left: 90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(3){
    left: 170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(4){
    left: 230px;
    transition: 0.75s;
    z-index:-2;
    transform: scale(0.7);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}

/* 2 */
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(1){
    left: -90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}

.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(3){
    left: 90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(4){
    left: 170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}

/* 3 */
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(1){
    left: -170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(2){
    left: -90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(4){
    left: 90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}


/* 4 */
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(1){
    left: -230px;
    transition: 0.75s;
    z-index:-2;
    transform: scale(0.7);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(2){
    left: -170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(3){
    left: -90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.member{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    margin-top: 20px;
}

.member div{
    padding: 10px;
    background-color: rgb(30, 143, 90, 0.16);
	width: 150px;
	height: 80px;
    border-radius: 5px;
	box-shadow: 0px 4px 4px 0px rgb(0,0,0,0.25);
}
.member div a img{
    width: 34px;
    height: 34px;
    opacity: 1;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.member div a img:hover{
    opacity: 0.6;
}