.form-container{
    margin-top: 8rem;
}

#username, #password{
	width: 333px;
	height: 45px;
	border-radius: 20px;
	font-size: 15px;
	border: 1px solid rgb(189, 189, 189);
}

.idbox, .pwdbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.idbox img{
	width: 30px;
	height: 38px;
}
.pwdbox img{
	width: 30px;
	height: 43px;
}
#form-button{
	width: 380px;
	height: 45px;
	border-radius: 20px;
	color: white;
	font-size: 20px;
}
.l_list{
	margin-top: 32px;
	text-align: center;
}

.l_list a,
.l_list a:hover {
    color: #000;
    text-decoration: none;
    font-size: 0.9rem;
}
