body{
    max-width: 1500px;
}

#like-button{
    width: 40px;
    height: 80px;
    border: 2px solid rgb(141,185,170,0.7);
    border-right: none;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    float: left;
    margin-left: 141.9px;
    margin-top: 90px;
    font-size: 38px;
    color: rgb(250,6,68);
}

#like-button:hover{
    color: rgb(250,6,68,0.5);
}

#like-button:focus{
    outline:none;
}

.container {
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 100px;
    border-left: 2px solid rgb(141,185,170,0.7);
    max-width: 1200px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.container .main_menu,
.container p {
    margin-bottom: 20px;
}
.upper{
    display: flex;
    margin: 50px 0px 0px 115px;
    width: 900px;
}
.upper_right{
    width: 530px;
}
.img-container img{
    width: 370px;
    height: auto;
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 5px;
}
.hashtags {
    margin-top: 10px;
}
.hashtags span {
    margin-right: 5px;
    color: #888;
    font-size: 15px;
}
.main_menu{
    font-size: 35px;
}
.ingredient{
    width: 80%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}
.main_ingre{
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(30, 143, 90);
}
.detail_ingre{
    font-size: 16px;
}
.details{
    margin-top: 15px;
}
.nourish{
    font-size: 20px;
    color: rgb(30, 143, 90);
    margin-bottom: 10px;
}
.details b{
    color: rgb(30, 143, 90);
}
.details p{
    margin-bottom: 10px;
    font-size: 15px;
}


.hr1{
    width: 1000px;
    margin-left: 65px;
}
.hr2{
    width: 1000px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.recipe_step{
    font-size: 20px;
    color: rgb(30, 143, 90);
    margin-left: 65px;
}
.step_add{
    display: flex;
    justify-content: space-between;
}
.additional-content {
    position: relative;
    max-width: 200px;
    height:auto;
    word-wrap: break-word;
    margin: 50px 0px;
    padding: 10px;
    color: black;
    border-radius: 10px;
}
.additional-content p{
    font-size: 13px;
}
.additional-content:after{
    content:"저염Tip";
    position: absolute;
    top: 5px;
    left: -43px;
    font-size: 15px;
    font-size: 15px;
}
.additional-content:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
.row{
    max-width: 1100px;
    padding-left: 65px;
    text-align: left;
}
.left{
    display: inline-block;
    width: 500px;
    height: 100%;
}
.right{
    display: inline-block;
    width: 500px;
    height: 100%;
}
.recipe-item{
    height: 500px;
    margin: 0px 0px 10px 37.5px;
}
.recipe-item img {
    width: 395px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.recipe-item p{
    width: 365px;
    height: auto;
    margin-bottom: 50px;
}


.recommend{
    margin-bottom: 100px;
}
.re_text{
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(30, 143, 90);
    margin-left: 65px;
}
.re_text2{
    font-size: 15px;
    margin-bottom: 30px;
    color: #888;
    margin-left: 65px;
}
.outer{
    max-width: 950px;
    width: 95%;
    height: 230px;
    margin: 0 auto;
}
.inner{
    display: flex;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
    margin-left: 10px;
}
.inner::-webkit-scrollbar{
    height: 10px;
    width: 100%;
}
.inner::-webkit-scrollbar-thumb{
    background: rgb(141,185,170);
    border-radius: 4px;
}
.inner::-webkit-scrollbar-track{
    background: rgb(141,185,170,0.3);
    border-radius: 4px;
}
.re_list{
    display: flex;
    align-items: center;
}
.re_info{
    padding-right: 15px;
}
.re_img img{
    width: 170px;
    height: 170px;
    border-radius: 3px;
}
.re_img img:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.re_name{
    width: 150px;
    height: auto;
    text-align: center;
}
.left button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(231,231,231);
    margin-bottom: 20px;
}
.left button:hover{
    background-color: rgb(177,177,177);
}
.right button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(231,231,231);
    margin-bottom: 20px;
    margin-left: 35px;
}
.right button:hover{
    background-color: rgb(177,177,177);
}


.comment{
    width: 950px;
    margin-left: 117px;
}
.comment_name{
    font-size: 20px;
    color: rgb(30, 143, 90);
    margin-left: 65px;
    margin-bottom: 20px;
}
.user_name{
    color: rgb(141,185,170);
    font-weight: bold;
}
.c_content{
    display: flex;
    margin-top: 10px;
}
.c_text{
    width: 830px;
    border: 1px solid rgb(141,185,170);
    border-radius: 10px;
}
.c_text:focus{
    outline: none;
    box-shadow: 0px 0px 3px 2px rgb(30, 143, 90, 0.3);
}
.c_btn{
    width: 50px;
    height: 30px;
    margin-top: 15.8px;
    margin-left: 10px;
    background-color: rgb(141,185,170);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13.5px;
}