.tabs {
  display: flex;
  justify-content: center;
  width:980px;
  overflow:hidden;
}

.tabs .tab-header {
  width:160px;
  border-right:1px solid #ccc;
  padding:50px 0px;
}

.tabs .tab-header > div {
  height:50px;
  line-height:50px;
  font-size:16px;
  font-weight:600;
  color:#888;
  cursor:pointer;
  padding-left:10px;
}

.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color:#006838;
}

.tabs .tab-content {
  width: 820px;
  height: 550px;
  overflow:auto;
}

.tabs .tab-content > div {
  text-align:center;
  padding:40px 20px;
  display: none;
}

.tabs .tab-content > div.active {
  top:0px;
  display: block;
}
