input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    color: #000;
}

input[type="radio"]:checked + label {
    color: #006838;
    font-weight: bold;
}

.conbox {
    width: 770px;
    margin: 0 auto;
    display: none;
}


input[id="tab01"]:checked ~ .tab_box .con1 {display:block;} /* 인풋에 체크가 해당 요소보이게 설정 */
input[id="tab02"]:checked ~ .tab_box .con2 {display:block;}
input[id="tab03"]:checked ~ .tab_box .con3 {display:block;}
input[id="tab04"]:checked ~ .tab_box .con4 {display:block;}
