{% load static %}

<div class="dib-item">
    <div class="recipe_image"> <!--이미지-->
        <img src="{% static 'image/testimg1.jpg' %}">
    </div>
    <div class="recipe_content">
        <div class="recipe_name"> <!--레시피 이름-->
            <h4> 레시피 이름 </h4>
        </div>
        <div class="recipe_short"> <!--레시피 설명-->
            <p> 레시피 간단 설명 들어가는 곳 </p>
        </div>
    </div>
    <div class="recipe_delete"> <!--삭제버튼-->
        <img src="{% static 'image/trash-can.svg' %}">
    </div>
</div>