{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div style="text-align: left; max-width: 500px; margin: 3rem auto; font-size: 12px; color: rgb(34, 116, 28);
    font-weight: bold">
    <div style="text-align: middle">
        <h2>사용자 정보 수정</h2>
    </div>
<!--함수 기반에서 reverse와 유사-->
  <form action="{% url 'mypageapp:infoupdate' pk=target_userinfo.pk %}" method="post">
      {% csrf_token%}
      {% bootstrap_form form %}
      <div style="text-align: center; margin-top: 50px">
    <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="background-color: rgb(0, 104, 56);
     opacity: 0.8; border: none; width:80px">
      </div>
  </form>
</div>
{% endblock %}