{% extends 'base.html' %}
{% load static %}


{% block static %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}?after">
{% endblock %}


{% block content %}
<div class="mypage_wrapper" style="display: flex; justify-content: center; margin: 0 auto;">
    <div class="tabs">
        <div class="tab-header">
            <div class="active">개인정보수정</div>
            <div>찜 목록</div>
            <div>작성 후기</div>
            <div>작성 댓글</div>
        </div>
        <div class="tab-content">
            <div class="active">
                {% include 'mypageapp/info-modify.html' %}
            </div>

            <div>
                {% include 'mypageapp/dib-list.html' %}
            </div>

            <div>
                {% include 'mypageapp/info-modify.html' %}
            </div>

            <div>
                {% include 'mypageapp/dib-list.html' %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/tab.js' %}"></script>
{% endblock %}