{% load static %}

<header>
    <div class="header_wrapper" style="padding: 15px 200px 0px 200px">
        <div class="h_menu">
            <div class="h_logo">
                <a href="{% url 'accountapp:home' %}">BOB.D</a>
            </div>
            <div class="h_nav">
                {% if not user.is_authenticated %}
                <div class="nav-menu1">
                    <img src="{% static 'image/spoon2.png' %}" style="width: 16px"/><a href="{% url 'accountapp:login' %}">로그인</a>
                </div>
                <div class="nav-menu2">
                    <img src="{% static 'image/chopstick2.png' %}" style="width: 16px"/><a href="{% url 'signup' %}">회원가입</a>
                </div>
                {% else %}
                <div class="nav-menu1">
                    <img src="{% static 'image/spoon2.png' %}" style="width: 16px"/><a href="{% url 'accountapp:logout' %}">로그아웃</a>
                </div>
                <div class="nav-menu2">
                    <img src="{% static 'image/chopstick2.png' %}" style="width: 16px"/><a href="{% url 'mypageapp:mypage' pk=user.pk%}">마이페이지</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</header>